.add_game_container {
    margin: 80px auto;
    max-width: 1300px;
    display: flex;
    justify-content: center;
}

.add_game_preview {
    width: 700px;
    height: 700px;
}

.add_game_control {
    background-color: white;
    border-radius: 10px;
    min-width: 350px;
    margin-left: 70px;
    padding: 25px;
    &_type {
        margin-bottom: 30px;
        &_title {
            text-align: left;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
        .ant-select {
            width: 100%;
        }
    }

    &_add_image {
        margin-bottom: 30px;
        text-align: left;
        &_title {
            text-align: left;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
    }

    &_question {
        &_title {
            text-align: left;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
        &_item {
            margin: 12px 0;
        }
    }

    &_answer {
        margin-bottom: 30px;
        &_title {
            text-align: left;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
        .ant-select {
            width: 100%;
        }
    }

    &_options {
        &_title {
            text-align: left;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
        &_item {
            margin: 12px 0;
        }
    }
    &_submit {
    }
}
